/* You can add global styles to this file, and also import other style files */
app-root {
  display: block;
  color: #fff !important;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}
