<h2>CS History Ban Checker</h2>

@if (ready) {
<div class="container-flex">
  @if (apiKey) {
  <div>
    <button (click)="loadHistory()" [disabled]="isLoadingHistory || isScanning">
      Load history
    </button>
    <button
      (click)="stopLoadHistory()"
      [disabled]="!isLoadingHistory || isScanning"
    >
      Stop
    </button>
  </div>
  } @else {
  <div>
    First, you need to set an API key to be able to check BAN status of players
    :
  </div>
  }
  <div>
    <button
      (click)="showOptions = true"
      [disabled]="isLoadingHistory || isScanning"
    >
      {{ apiKey ? "Change" : "Set" }} API Key
    </button>
  </div>
</div>

@if (apiKey) { @if (isLoadingHistory) {
<p>Loading...</p>
} @if (!startDate || !endDate) {
<p>No history loaded.</p>
} @if (startDate && endDate) {
<p>
  History loaded from
  {{ startDate | date : "dd/MM/y" }} to {{ endDate | date : "dd/MM/y" }}.
</p>
}

<h2>Results</h2>

<p>Players in database : {{ database.players?.length || 0 }}</p>
<p>Matches in database : {{ database.matches?.length || 0 }}</p>
@if (hasPeopleNotScannedYet) {
<p>There are some players that have not been scanned yet</p>
} @if (oldestScan) {
<p>The oldest scan is from {{ oldestScan.LastFetch | date : "dd/MM/y" }}</p>
} @if (mostRecentScan) {
<p>
  The most recent scan is from
  {{ mostRecentScan.LastFetch | date : "dd/MM/y" }}
</p>
}

<button (click)="scanPlayers()" [disabled]="isLoadingHistory || isScanning">
  Scan players
</button>
<button (click)="stopScan()" [disabled]="isLoadingHistory || !isScanning">
  Stop
</button>

@if (error) {
<p class="error">
  {{ error }}
</p>
} } @if (showOptions) {
<div id="overlay-options">
  <div>
    <div>
      <label for="apikey"> Enter your Api KEY </label>
      <input id="apikey" type="text" [(ngModel)]="apiKey" />
    </div>
    <div>
      <a href="https://steamcommunity.com/dev/apikey" target="_blank">
        Retrieve your API KEY here
      </a>
    </div>
    <div>
      <button (click)="closeOptions()">Close</button>
    </div>
  </div>
</div>
} }
