<h2>CS History Ban Checker</h2>

<history-loader [ready]="ready" [isScanning]="isScanning"></history-loader>

<h2>Database</h2>

<p>
  Players in database : {{ database.players?.length || 0 }}, Matches in database
  : {{ database.matches?.length || 0 }}
</p>
@if (hasPeopleNotScannedYet) {
<p class="warning">There are some players that have not been scanned yet</p>
} @if (oldestScan && mostRecentScan) {
<p>
  The oldest scan is from {{ oldestScan.LastFetch | date : "dd/MM/y" }}, the
  most recent scan is from {{ mostRecentScan.LastFetch | date : "dd/MM/y" }}
</p>
}

<button (click)="scanPlayers()" [disabled]="isLoadingHistory || isScanning">
  Scan players
</button>
<button (click)="stopScan()" [disabled]="isLoadingHistory || !isScanning">
  Stop
</button>

@if (error) {
<p class="error">
  {{ error }}
</p>
}

<h2>Results</h2>

@if(playersBanned.length) {
<table class="results">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Last played with on</th>
    <th>Banned since</th>
  </tr>
  @for (playerBanned of playersBanned; track $index) {
  <tr>
    <td>
      <a [href]="playerBanned.profileLink" target="_blank"
        ><img [src]="playerBanned.avatarLink"
      /></a>
    </td>
    <td>
      <a [href]="playerBanned.profileLink" target="_blank">{{
        playerBanned.name
      }}</a>
    </td>
    <td>
      {{ playerBanned.lastPlayWith | date : "dd/MM/y" }}
    </td>
    <td>
      ~{{ playerBanned.banInfo?.LastBanOn | date : "dd/MM/y" }} ({{
        playerBanned.banInfo?.DaysSinceLastBan
      }}
      days)
    </td>
  </tr>
  }
</table>
} @else {
<p>No banned player</p>
}
