<h2>CS History Ban Checker</h2>

@if(ready) {

<history-loader></history-loader>

<h2>Database</h2>

<scanner></scanner>

<h2>Results</h2>

@if(playersBanned.length) {
<table class="results">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Last played with on</th>
    <th>Banned since</th>
  </tr>
  @for (playerBanned of playersBanned; track $index) {
  <tr>
    <td>
      <a [href]="playerBanned.profileLink" target="_blank"
        ><img [src]="playerBanned.avatarLink"
      /></a>
    </td>
    <td>
      <a [href]="playerBanned.profileLink" target="_blank">{{
        playerBanned.name
      }}</a>
    </td>
    <td>
      {{ playerBanned.lastPlayWith | date : "dd/MM/y" }}
    </td>
    <td>
      ~{{ playerBanned.banInfo?.LastBanOn | date : "dd/MM/y" }} ({{
        playerBanned.banInfo?.DaysSinceLastBan
      }}
      days)
    </td>
  </tr>
  }
</table>
} @else {
<p>No banned player</p>
} }
