<ng-template #playerInfoTemplate let-playerScore="playerScore">
  <tr
    [class.banned]="_playerIsBanned(playerScore.steamID64)"
    [attr.title]="_getBanTitle(_playerInfo(playerScore.steamID64))"
  >
    <td>
      <div class="player-avatar-name">
        <div class="playerAvatar offline">
          <a target="_blank" [href]="_getPlayerLink(playerScore.steamID64)">
            <img [src]="_getPlayerAvatar(playerScore.steamID64)" />
          </a>
        </div>
        <div class="playerNickname ellipsis">
          <a target="_blank" class="linkTitle" [href]="_getPlayerLink(playerScore.steamID64)">{{
            _getPlayerName(playerScore.steamID64)
          }}</a>
        </div>
      </div>
    </td>
    <td>{{ playerScore.ping }}</td>
    <td>{{ playerScore.k }}</td>
    <td>{{ playerScore.a }}</td>
    <td>{{ playerScore.d }}</td>
    <td>{{ playerScore.mvp }}</td>
    <td>{{ playerScore.hsp }}</td>
    <td>{{ playerScore.score }}</td>
  </tr>
</ng-template>

@if (playersBanned.length) {
  @if (!displayOnlyListOfPlayers) {
    <p>
      Out of {{ playersCount - 1 }} players encountered, {{ bannedCount }} have been banned after playing with you
      (<strong>{{ bannedPourcentage }}%</strong>)*
    </p>
    <p>
      Out of {{ matchesCount }} games played, {{ matchesConcerned }} have been with players banned after the game
      (<strong>{{ matchPourcentage }}%</strong>)*
    </p>

    <map-datas style="margin-bottom: 20px"></map-datas>

    <button type="button" (click)="displayListOfBannedPlayers = !displayListOfBannedPlayers">
      {{ displayListOfBannedPlayers ? "Hide" : "Show" }} list of players banned
    </button>
  }
  @if (displayListOfBannedPlayers) {
    @if (displayOnlyListOfPlayers && playersBanned.length > 0) {
      <p>{{ playersBanned.length }} / {{ players.length }} players have been banned in this section.</p>
    }

    <table class="results">
      <tr>
        <th class="col-avatar">Avatar</th>
        <th
          class="col-name sortable"
          (click)="orderBy('name')"
          [class.asc]="order === 'asc' && column === 'name'"
          [class.desc]="order === 'desc' && column === 'name'"
        >
          Name
        </th>
        @if (!displayOnlyListOfPlayers) {
          <th class="col-showmatch">See match</th>
          <th
            class="col-lastplay sortable"
            (click)="orderBy('lastPlayWith')"
            [class.asc]="order === 'asc' && column === 'lastPlayWith'"
            [class.desc]="order === 'desc' && column === 'lastPlayWith'"
          >
            Last played with on
          </th>
        }
        <th
          class="col-lastban sortable"
          (click)="orderBy('LastBanOn')"
          [class.asc]="order === 'asc' && column === 'LastBanOn'"
          [class.desc]="order === 'desc' && column === 'LastBanOn'"
        >
          Last ban on
        </th>
      </tr>
      @for (playerBanned of playersBanned; track $index) {
        <tr>
          <td class="col-avatar">
            <a [href]="playerBanned.profileLink" target="_blank"><img [src]="playerBanned.avatarLink" /></a>
          </td>
          <td class="col-name">
            <a [href]="playerBanned.profileLink" target="_blank">{{ playerBanned.name }}</a>
          </td>
          @if (!displayOnlyListOfPlayers) {
            <td class="col-showmatch">
              <button
                (click)="
                  matchInfo && matchInfoIndex === $index
                    ? _closeMatchInfo()
                    : _showMatch(playerBanned.lastPlayWith, $index)
                "
              >
                {{ matchInfo && matchInfoIndex === $index ? "Hide" : "Show" }} match below
              </button>
            </td>
            <td class="col-lastplay">
              {{ playerBanned.lastPlayWith | date: "dd/MM/y" }}
            </td>
          }
          <td class="col-lastban" [attr.title]="_getBanTitle(playerBanned)">
            ~{{ playerBanned.banInfo?.LastBanOn | date: "dd/MM/y" }} *
          </td>
        </tr>

        @if (matchInfo && matchInfoIndex === $index) {
          <tr>
            <td colspan="5">
              @if (!matchInfo.teamA?.scores?.length) {
                <div class="warning-panel">
                  Due to this feature being a new one, you need to reload your history to the date of the match so we
                  can retrieve the scoreboard informations.
                </div>
              }
              <table class="match-info-table">
                <tr>
                  <td class="map-info">
                    @let name = matchInfo.map | mapName;
                    @let image = name | mapImage;
                    @if (image) {
                      <img [src]="image" width="200" height="112" border="0" />
                    }
                    <p>{{ name }}</p>
                    <p>{{ matchInfo.id }}</p>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <th class="left">Player Name</th>
                        <th class="n-info">Ping</th>
                        <th class="n-info">K</th>
                        <th class="n-info">A</th>
                        <th class="n-info">D</th>
                        <th class="n-info">★</th>
                        <th class="n-info">HSP</th>
                        <th class="n-info">Score</th>
                      </tr>
                      @for (playerScore of matchInfo.teamA?.scores; track $index) {
                        <ng-container
                          [ngTemplateOutlet]="playerInfoTemplate"
                          [ngTemplateOutletContext]="{ playerScore: playerScore }"
                        ></ng-container>
                      }
                      <tr>
                        <td colspan="9" class="map-score">
                          {{ matchInfo.teamA?.score }} : {{ matchInfo.teamB?.score }}
                        </td>
                      </tr>
                      @for (playerScore of matchInfo.teamB?.scores; track $index) {
                        <ng-container
                          [ngTemplateOutlet]="playerInfoTemplate"
                          [ngTemplateOutletContext]="{ playerScore: playerScore }"
                        ></ng-container>
                      }
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        }
      }
    </table>
    <p class="right">* mouse over for more informations</p>

    @if (!displayOnlyListOfPlayers) {
      <div class="disclaimer">
        The players banned have been banned after playing with you.<br />
        They can be banned on other games and they may have not cheated while playing with you at the time of the match.
      </div>
    }
  }
} @else {
  <p>No banned player</p>

  @if (!displayOnlyListOfPlayers) {
    <map-datas></map-datas>
  }
}
