table.results {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 5px;
    border: 1px solid gray;
  }

  td:first-child,
  th:first-child {
    width: 50px;
    text-align: center;

    img {
      max-height: 32px;
    }
  }

  th:nth-child(3) {
    width: 150px;
  }

  th:nth-child(4) {
    width: 150px;
  }

  th:nth-child(5) {
    width: 200px;
  }
}

strong {
  color: #f00 !important;
}

em {
  display: block;
  text-align: right;
}

a.action-link {
  cursor: pointer;
  text-decoration: underline;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.match-info-table {
  border-collapse: collapse;
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 0 !important;
    padding: 5px !important;
  }

  .n-info {
    width: 40px !important;
  }

  img {
    max-height: none !important;
  }

  .player-avatar-name {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
  }

  .map-info {
    text-align: left !important;
    vertical-align: top;
    width: 200px !important;
  }

  .map-score {
    font-weight: bold;
    font-size: 1.5em;
  }

  .banned {
    background-color: #f00;

    * {
      color: #fff !important;
    }
  }
}
