table.results {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 5px;
    border: 1px solid gray;
  }

  td:first-child,
  th:first-child {
    width: 50px;
    text-align: center;
  }

  th:nth-child(3),
  th:nth-child(4) {
    width: 200px;
  }
}

strong {
  color: #f00 !important;
}

em {
  display: block;
  text-align: right;
}

a.action-link {
  cursor: pointer;
  text-decoration: underline;
}
