@if (playersBanned.length) {
    <p>
        Out of {{ playersCount - 1 }} players encountered, {{ bannedCount }} have been banned later (<strong
            class="not-fine"
            >{{ bannedPourcentage }}%</strong
        >)*
    </p>

    <p>
        Out of {{ matchesCount }} games played, {{ matchesConcerned }} were played with later-banned players (<strong
            class="not-fine"
            >{{ matchPourcentage }}%</strong
        >)*
    </p>

    @if (frequencyInDaysOfBans >= 0) {
        <p>
            On average, you got a new ban every <strong>{{ frequencyInDaysOfBans }} days</strong> since your first match
            in this section.
        </p>
    }

    Are you unlucky ?
    <strong [class.fine]="!unlucky" [class.not-fine]="unlucky">{{ unlucky ? "Yes" : "No" }}</strong>
    <ul>
        <li>{{ matchesAgainstCheatersPercentage }}% of the time, a later-banned player was on the opposing team,</li>
        <li>{{ matchesWithCheatersPercentage }}% of the time, a later-banned player was on your team,</li>
        <li>{{ matchesBothTeamsHasCheatersPercentage }}% of the time, a later-banned player was on both teams.</li>
    </ul>

    <map-datas style="margin-bottom: 20px"></map-datas>

    <button type="button" (click)="displayListOfBannedPlayers = !displayListOfBannedPlayers">
        {{ displayListOfBannedPlayers ? "Hide" : "Show" }} list of players banned
    </button>
    @if (displayListOfBannedPlayers) {
        <cs2-history-ban-list [displayMatchInfo]="true" [playersBanned]="this.playersBanned"></cs2-history-ban-list>
        <div class="disclaimer">
            We only count players who were <strong>banned after playing with you</strong>, specifically excluding any
            ban that occurred before your last match with them. It's important to remember that they could have been
            banned for actions in <strong>other games</strong>, and
            <strong>they might not have been cheating at the time you played together</strong>.
        </div>
    }
} @else {
    <p>No banned player</p>

    <map-datas></map-datas>
}
