@if(playersBannedAfter.length) {
<p>
  Out of {{ playersCount - 1 }} players encountered, {{ bannedCount }} have been
  banned after playing with you (<strong>{{ bannedPourcentage }}%</strong>)*
</p>
<p>
  Out of {{ matchesCount }} games played, {{ matchesConcerned }} have been with
  players banned after the game (<strong>{{ matchPourcentage }}%</strong>)*
</p>

<em>
  *bans can occur on other games. We only know that the bans occurred after you
  played with them.
</em>

<table class="results">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Last played with on</th>
    <th>Banned since</th>
  </tr>
  @for (playerBanned of playersBannedAfter; track $index) {
  <tr>
    <td>
      <a [href]="playerBanned.profileLink" target="_blank"
        ><img [src]="playerBanned.avatarLink"
      /></a>
    </td>
    <td>
      <a [href]="playerBanned.profileLink" target="_blank">{{
        playerBanned.name
      }}</a>
    </td>
    <td>
      {{ playerBanned.lastPlayWith | date : "dd/MM/y" }}
    </td>
    <td>
      ~{{ playerBanned.banInfo?.LastBanOn | date : "dd/MM/y" }} ({{
        playerBanned.banInfo?.DaysSinceLastBan
      }}
      days)
    </td>
  </tr>
  }
</table>
} @else {
<p>No banned player</p>
}
