a.link {
  color: blue !important;
  text-decoration: underline !important;
}

#overlay-options {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 80%);

  & > div {
    display: block;
    position: absolute;
    top: 100px;
    left: calc(50% - 150px);
    width: 300px;
    background: #fff;
    color: #000 !important;
    padding: 20px;
  }

  input {
    color: #000;
  }
}

#open-options {
  position: absolute;
  top: 20px;
  right: 20px;
}

.disclaimer {
  margin: 20px 0;
  padding: 10px;
  background: #1b2838;
  border: 1px solid #000;
  color: #fff;

  a {
    color: white !important;
    text-decoration: underline !important;
  }
}
