<div class="container-flex space">
  @if (apiKey) {
  <div class="container-flex vcenter">
    <button (click)="loadHistory()" [disabled]="isLoadingHistory || isScanning">
      Load history
    </button>
    <button
      (click)="stopLoadHistory()"
      [disabled]="!isLoadingHistory || isScanning"
    >
      Stop
    </button>
    <input
      id="hide-history-table"
      type="checkbox"
      [checked]="hideHistoryTable"
      (change)="toggleHideHistoryTable($event)"
    />
    <label for="hide-history-table">
      Display only games with bans for better performance. Remove others.
    </label>
  </div>
  } @else {
  <div>
    First, you need to set an API key to be able to check BAN status of players
    :
  </div>
  }
  <div>
    <button (click)="openOptions()" [disabled]="isLoadingHistory || isScanning">
      {{ apiKey ? "Change" : "Set" }} API Key
    </button>
  </div>
</div>

@if (apiKey) { @if (isLoadingHistory) {
<p>Loading...</p>
} @if (!startDate || !endDate) {
<p>No history loaded.</p>
} @if (startDate && endDate) {
<p>
  History loaded from
  {{ startDate | date : "dd/MM/y" }} to {{ endDate | date : "dd/MM/y" }}.
</p>
} } @if (showOptions) {
<div id="overlay-options">
  <div>
    <div>
      <label for="apikey"> Enter your Api KEY </label>
      <input id="apikey" type="text" [(ngModel)]="apiKey" />
    </div>
    <div>
      <a href="https://steamcommunity.com/dev/apikey" target="_blank">
        Retrieve your API KEY here
      </a>
    </div>
    <div>
      <button (click)="closeOptions()">Close</button>
    </div>
    <div [style.text-align]="'right'">
      <button (click)="resetDatabase()">Reset Database</button>
    </div>
  </div>
</div>
}
