<div class="container-flex vcenter">
  <button (click)="startLoadHistory()" [disabled]="isLoadingHistory || isScanning">Load history</button>
  <button (click)="stopLoadHistory()" [disabled]="!isLoadingHistory || isScanning">Stop</button>
  <input
    id="hide-history-table"
    type="checkbox"
    [checked]="hideHistoryTable"
    (change)="toggleHideCleanMatches($event)"
  />
  <label for="hide-history-table">
    Remove history from the page for better performance (tab can become very slow if you go deep).
  </label>
</div>

@if (displayReloadWarning) {
  <p class="warning">You may need to reload the page to display games previously removed from the page.</p>
}
@if (isLoadingHistory) {
  <p>Loading...</p>
}
@if (!startDate || !endDate) {
  <p>No history loaded.</p>
}
@if (startDate && endDate) {
  <p>
    History loaded from
    {{ startDate | date: "dd/MM/y" }} to {{ endDate | date: "dd/MM/y" }}.
  </p>
}
