@if (ready) {
    <div>
        <h2>CS2 Ban Checker</h2>

        <cs2-history-options></cs2-history-options>

        @if (database.apiKey) {
            @if (isOnProfilePage) {
                <div id="self-status">
                    <div [innerHTML]="selfStatus"></div>
                    <div [innerHTML]="friendsStatus"></div>
                    @if (friendsBanned.length) {
                        <button (click)="hideList = !hideList">
                            @if (hideList) {
                                show list
                            } @else {
                                hide list
                            }
                        </button>
                        @if (!hideList) {
                            <cs2-history-ban-list
                                [displayMatchInfo]="false"
                                [playersBanned]="friendsBanned"
                            ></cs2-history-ban-list>
                        }
                    }
                </div>
            } @else {
                <cs2-history-loader class="container-block"></cs2-history-loader>

                <h3>Database</h3>

                <cs2-history-ban-scanner class="container-block"></cs2-history-ban-scanner>

                <h3>Results</h3>

                <cs2-history-ban-statistics class="container-block"></cs2-history-ban-statistics>
            }
        }
    </div>
    @if (hasRemovedHistoryLoaded) {
        <div class="warning-panel">
            We removed history loaded for better performance. We still parse all the history loaded.
        </div>
    }
}
