:host {
  padding: 17px;
  margin-top: -20px;
  border: 1px dashed;

  & ::ng-deep {
    .error {
      color: #f00 !important;
    }
    .warning {
      color: rgb(207, 111, 0) !important;
    }

    button ~ button {
      margin-left: 10px;
    }
  }
}

h2 {
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }
}
