:host.add-margin .cs2-history-ban-checker-container {
  margin-left: 28px;
}

.cs2-history-ban-checker-container {
  position: relative;
  padding: 17px;
  margin-top: -20px;
  border: 1px dashed;
  background: rgba(0, 0, 0, 50%);

  h2,
  h3 {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  & ::ng-deep {
    .error {
      color: #f00 !important;
    }

    .warning {
      color: rgb(207, 111, 0) !important;
    }

    button ~ button {
      margin-left: 10px;
    }
  }
}

.container-block {
  display: block;
  padding: 15px;
  box-shadow: 0px 0 4px 0px rgb(0, 0, 0);
  background: #1b2838;
}

:host ::ng-deep {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.warning-panel {
  padding: 15px;
  background: #ff830075;
}
