@if(ready) {

<div class="cs2-history-ban-checker-container">
  <h2>CS2 History Ban Checker</h2>

  <cs2-history-options></cs2-history-options>

  @if(database.apiKey) { @if(isOnGCPDSection) {
  <cs2-history-loader class="container-block"></cs2-history-loader>
  }

  <h3>Database</h3>

  <cs2-history-ban-scanner class="container-block" [isOnGCPDSection]="isOnGCPDSection"></cs2-history-ban-scanner>

  <h3>Results</h3>

  <cs2-history-ban-statistics class="container-block"></cs2-history-ban-statistics>
  }
</div>
}
