table {
  width: 100%;
  border-collapse: collapse;

  .sample,
  .winrate,
  .banrate {
    text-align: right;
  }

  .sample {
    width: 100px;
  }

  .winrate {
    width: 150px;
  }

  .banrate {
    width: 200px;
  }

  th,
  td {
    border: 1px solid #7a7a7a;
    padding: 5px;
  }
}

button:not(:last-child) {
  margin-bottom: 20px;
}

#winrate {
  width: 80px;
}
