/* You can add global styles to this file, and also import other style files */
app-root {
  display: block;
  color: #fff !important;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

tr.banned {
  background-color: #7e4040;

  & * {
    color: #fff !important;
  }
}

td.banstatus {
  min-width: 65px !important;
  font-weight: 600;
  font-size: 0.8em;
  white-space: nowrap;

  &.banned.after,
  &.banned.after * {
    color: yellow !important;
  }

  &.not-banned {
    color: #19ff00 !important;
  }
}
